
<div class="recipe-card">
    <div class="recipe-card-header">
        {{recipe_name}}
    </div>

<script src="/../public/javascript/ingredients.js"></script>


   <div class="card mb-3">
   <div class="card-body">
    <h5 class="card-title">{{recipe.title}}</h5>
    <h6>Instructions:</h6>
    <p class="card-text"> {{recipe.instructions}}</p>
     <h6>Servings:</h6>
    <p class="card-text">{{recipe.servings}}</p>
      <h6>Ingredients:</h6>
    <p class="card-text">{{recipe.ingredients}}</p>
  </div>
</div>


{{!-- add in the ingredients for the recipe --}}

